# Exercise 4.5 - Data Consistency Checks

# Importing Libraries and Datasets

In [1]:
# Import pandas, numpy and os 
import pandas as pd
import numpy as np 
import os

In [2]:
# import products.csv from Original Data folder and orders_wrangled.csv from Prepared Data Folder
path = r'/Users/brookecoffey/10-07-2023 Instacart Basket Analysis'

In [3]:
df_prods = pd.read_csv(os.path.join(path, '02 Data ', 'Original Data ', 'products.csv'), index_col = False)

In [4]:
df_ords = pd.read_csv(os.path.join(path, '02 Data ', 'Prepared Data ', 'orders_wrangled.csv'), index_col = False)

In [5]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

# Mixed-Type Data

In [6]:
# Create a test dataframe
df_test = pd.DataFrame()

In [7]:
# Create a mixed type column
df_test['mix'] = ['a', 'b', 1, True]

In [8]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [9]:
# Function to find any mixed type columns
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [10]:
# Changing data type of mixed column
df_test['mix'] = df_test['mix'].astype('str')

# Missing Values

In [11]:
# Finding missing values in products table 
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [12]:
# Create a subset of the false values for the product_name column
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [13]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [14]:
# get shape of existing df_prods dataframe
df_prods.shape

(49693, 5)

In [15]:
# Create new dataframe excluding the products with null product name
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [16]:
# Compare shape of new dataframe with old dataframe
df_prods_clean.shape

(49677, 5)

In [17]:
# Alternative method of dropping null values - this overwrites the existing dataframe
# df_prods.dropna(inplace = True)
# df_prods.dropna(subset = [‘product_name’], inplace = True)

# Duplicates

In [18]:
# Looking for full duplicates (exact same values for multiple rows)
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [19]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [20]:
# checking current shape before deleting duplicates
df_prods_clean.shape

(49677, 5)

In [21]:
# Create new dataframe with no duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [22]:
df_prods_clean_no_dups.shape

(49672, 5)

# Exercise Prompts

In [23]:
# Describe the df_ords dataframe 
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

## A2: All columns look correct with what one would expect.  order_id, user_id, and order_number all have minimums of 1, rather than 0.  order_day_of_week, order_hour_of_day and days_since_prior_order all have minimums of 0, appropriate maximium values for those fields (i.e. no more than 7 days in a week or 24 hours in a day), and appropriate spreads (i.e. 50% of day of week should be 3, and 13 for hour of day).

In [24]:
# Check for mixed-type data in your df_ords dataframe
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

## A3: Using the command above from the reading, substituting df_ords for df_test, I didn't find any mixed-type columns

In [25]:
# Run a check for missing values in your df_ords dataframe.
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
eval_set                       0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

## A4: The only column with missing values is days_since_prior_order.  This would most likely be due to first-time orders that would have a null value for that field, as there is no last order to use as a reference point.  If that is in fact true, then this column doesn't require any filtering or imputing.

In [26]:
# Address the missing values using an appropriate method.
df_ords['first_order'] = np.where(df_ords['days_since_prior_order'].isnull() == True, True, False)

In [27]:
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,0,2539329,1,prior,1,2,8,NaN,True
1,1,2398795,1,prior,2,3,7,15.0,False
2,2,473747,1,prior,3,3,12,21.0,False
3,3,2254736,1,prior,4,4,7,29.0,False
4,4,431534,1,prior,5,4,15,28.0,False

## A5: Becuase the null values in the days_since_prior_order column are valuable to preserve, I added another column "first_order" that specifies if the order was the first order of that customer.  If the days_since_prior_order column shows a Null value, the first_order column will return a boolean response, with True meaning that it is the first order and False meaning that it is not the first order.  This would kind of be a restatement of the order_number column.

In [28]:
# Run a check for duplicate values in your df_ords data.
df_ords_dups = df_ords[df_ords.duplicated()]

In [29]:
df_ords_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, eval_set, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order, first_order]
Index: []

## A6: No duplicate records were found

In [30]:
df_ords.shape

(3421083, 9)

# Exporting Files

In [40]:
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data ', 'Prepared Data ', 'products_checked.csv'))

In [46]:
df_ords.to_csv(os.path.join(path, '02 Data ', 'Prepared Data ', 'orders_checked.csv'))